#char-page {
    
    border-color: goldenrod;
    height: fit-content;
    width: fit-content;
}

p {
    font-size: 12px;
}

#char-container {
    display: grid;
    grid-template-rows: 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem;
    
    border-color: blueviolet;
    height: fit-content;
    width: fit-content;
}

#char-gap1 {
    grid-row-start: 1;
    
    border-color: aqua;
    height: 2rem;
}

#logo-container {
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#logo {
    max-height: 9rem;
    
}

#char-gap2 {
    grid-row-start: 3;
    height: 2rem;
    
    border-color: aqua;

}

#char {
    display: grid;
    grid-template-columns: 4fr 1fr .4fr 10fr 4fr;
    grid-row-start: 4;
    height: 55rem;
    
    gap: 2px;
    grid-template-areas:
        "char-col1 char-logos char-col2 char-main char-col3";
}
#char-col1 {
    grid-column-start: 1;
    
    border-color:brown;
    display: flex;
    align-content:center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#char-logos {
    grid-column-start: 2;
    display: flex;
    
    flex-direction: column;
    display: flex;
    align-content:center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.race-button {
    height: 75px;
    width: 85px;
    margin-bottom: 24%;
    border-radius: 12px;
    font-family: "Noto Sans";
    font-weight: 500;
}

#race-button-bottom {
    height: 75px;
    width: 85px;
    border-radius: 12px;
    font-family: "Noto Sans";
    font-weight: 500;
}

#char-col2 {
    grid-column-start: 3;
    
    border-color:brown;
    display: flex;
    align-content:center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#char-main {
    grid-column-start: 4;

    border: 1.4px solid #666;
   
    border-radius: 12px;

    display: flex;
    white-space: pre-line;
    text-align: justify;

    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,.15);
    overflow: hidden;

}

#char-col3 {
    grid-column-start: 5;
    
    border-color:brown;
    display: flex;
    align-content:center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#char-gap3 {
    grid-row-start: 5;
    grid-column-start: 1;
    height: 10rem;
    
    border-color: aqua;
}

.class-container{
    grid-row-start: 6;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 3.25fr 1fr;
    

    align-content: center;
    justify-content: center;
}

.char-col4 {
    grid-column-start: 1;
    
    border-color:brown;
    display: flex;
    align-content:center;
    align-items: center;
    justify-content: center;
}


#classes {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    
}

#job-section-title {
    font-family: "Noto Serif";
    line-height: 20px;
}

.rows {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    
}

.job-button {
    height: 75px;
    width: 85px;
    border-radius: 12px;    
}

.popup-overlay {
    position:fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
    
}

#job-card {
    width: 70%;
    max-width: 900px;
    background-color: white;
    border: 1.4px solid #302f2f;
    padding: 1.5%;
    border-radius: 12px;
    margin: 5%;
    margin-bottom: 20%;
    line-height: 26px;
    height: 43%;
    max-height: 700px;
    position: relative;
    overflow: hidden;

}

.char-col5 {
    grid-column-start: 3;
    
    border-color:brown;
    display: flex;
    align-content:center;
    align-items: center;
    justify-content: center;
}

.class2-container {
    grid-row-start: 7;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 3.25fr 1fr;
    
    align-content: center;
    justify-content: center;
}

#char-gap4 {
    grid-row-start: 8;
    height: 10rem;
    
    border-color: aqua;
}