#char-page {
  width:100%
}

p {
    font-size: 12px;
}

#char-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}



#logo {
    max-height: 9rem;
    margin-bottom: 5%;
}



#char {
    display: grid;
    grid-template-columns: 4fr 1fr .4fr 10fr 4fr;
    grid-row-start: 4;
    height: 55rem;
    gap: 2px;
    grid-template-areas:
        "char-col1 char-logos char-col2 char-main char-col3";
}

#char-col1 {
    grid-column-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#char-logos {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-content:center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.race-button {
    height: 75px;
    width: 85px;
    margin-bottom: 24%;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .45)
}

#race-button-bottom {
    height: 75px;
    width: 85px;
    border-radius: 12px;
    font-family: "Noto Sans";
    font-weight: 500;
}

#char-col2 {
    grid-column-start: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#char-main {
    grid-column-start: 4;
    border-radius: 12px;
    display: flex;
    white-space: pre-line;
    text-align: justify;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,.35);
    overflow: hidden;

}

#char-col3 {
    grid-column-start: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.class-container{
    grid-row-start: 6;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 3.25fr 1fr;
    align-content: center;
    justify-content: center;
}

.char-col4 {
    grid-column-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


#classes {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 5%;

}

#job-section-title {
    font-family: "Noto Serif";
    line-height: 20px;
}

.rows {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.job-button {
    height: 75px;
    width: 85px;
    border-radius: 12px;
    background-color: white; 
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .45); 
}

.popup-overlay {
    position:fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
    
}

#job-card {
    width: 70%;
    max-width: 900px;
    background-color: white;
    box-shadow: 5px 4px 8px rgba(0,0,0, .5);
    padding: 1.5%;
    border-radius: 12px;
    margin: 5% 5% 20%;
    line-height: 26px;
    height: 43%;
    max-height: 700px;
    position: relative;
    overflow: hidden;

}

.char-col5 {
    grid-column-start: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class2-container {
    grid-row-start: 7;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 3.25fr 1fr;
    
    align-content: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    #char {
        grid-template-columns: 1fr 85px .5rem 6fr 1fr;
        grid-template-areas: none;
        height: auto;
        margin-bottom: 3rem;
    }

    #char-col1
    #char-logos
    #char-col2
    #char-main
    #char-col3{
        grid-column: auto;
    }

    .rows{
        flex-wrap: wrap;
    }

    #job-card{
        width:90%;
        height: auto;
        max-height: 90vh;
        overflow-y: auto;
    }

    #char-main{
        height: auto;
        overflow: visible;
    }

    #content-container{
        flex: none;
        height: auto;
    }

    .photo{
        flex: none;
        height: auto;
    }
    #char-card{
        height: auto;
    }

    .char-gap,
    #logo-container,
    #char,
    .class-container,
    .class2-container{
        grid-row: auto;
    }

    
}
@media (max-width: 700px) {
    .race-button,
    .job-button{
            width: 65px;
            height: 60px;
    }

    #logo{
        max-height: 6rem;
    }

    #char{
        display:grid;
        grid-template-columns:1fr;
        grid-template-areas:
            "logos"
            "main";
        justify-items:center;
        gap:1rem;
        height:auto;
        overflow: visible;
        margin-bottom: 3rem;
    }

    #char-col1,
    #char-col2,
    #char-col3{
        display:none;
    }

    #char-logos{
    grid-area:logos;
    flex-direction: row;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:.75rem;
    padding-bottom: 1rem;

    width:100%;
}

    #char-main{
        grid-area:main;
        width: min(95%, 900px);
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 2%;
        margin-right: 2%;
        height: auto;
        overflow: visible;
    }

    .race-button{
        margin-bottom: 0;
    }

    #content-container{
        
        display:flex;
        flex-direction: column;
        height: auto;
    }

    .photo{
        flex: none;
        height: auto;
    }

    #char-card{
        height: auto;
    }

    .char-gap,
    #logo-container,
    #char,
    .class-container,
    .class2-container{
        order: 0;
    }

}