#char-card {
    display: flex;
    width: 100%;
    height: 100%;
    border-color: blue;
    box-sizing: border-box;
}

#content-container {
   
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans";
    padding: 2%;
    line-height: 1.4;
   
    
}

#race-name {
    width: 30%;
    font-family: "Noto Serif";
    text-align: center;
}

.content-orientation {
    
    text-align: left;
    width: 100%
}

#clan-container {
    
    
    text-align: center;
    
    width: 100%;

    margin-top: auto;
    
}

#clans {
    display: flex;
    justify-content: center;
    
}

#clan-title {
    font-family: "Noto Serif";
    font-size: 22px;
    
    
    
}

.clan {
    
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    font-size: 20px;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Noto Sans";
 
}


.photo {
    
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1%;
    padding-right: 2%;
    
}

.photo img {
    height: 100%;
    width: 100%;
    
    object-fit: contain;
}

.info {
    font-size: 18px;
}