#job-info {
    text-align: center;
    font-family: "Noto Serif";
}

#job-stats {
    text-align: left;
    font-family: "Noto Sans";
    
}

.job-points {
    font-size: 20px;
    font-weight: 500;
    line-height: .8rem;
}

#description-container {
    justify-content: center;
    align-items: center;
    
}

#job-description {
    font-size: 20px;
    font-weight: 500;
    padding-top: 2%;
    font-family: "Noto Sans";
    font-weight: 400;
    text-align:justify;
    white-space: pre-line;
    
}