#price-page {
    
    border-color: goldenrod;
}

#price-container {
    display:flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    align-content: center;
    justify-items: center;
    border-color: blueviolet;
    height: 100%;
    width: 100%;
}

p {
    font-size: 25px;
}

.price-page-title {
    text-align: center;
    font-family: "Noto Serif";
    padding-top: 4%;
}


#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 5%
}

#logo {
    max-height: 9rem;
    
}


#vs-container {
    box-shadow: 0 2px 6px rgba(0,0,0,.35);
    border-radius: 30px;
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1.4%;
  
    
}

#category-title {
    font-family: "Noto Sans";
    text-transform: capitalize;
}

#comp-card-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.comparison-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.comparison-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 0.5rem 0;
   
    font-family: "Noto Sans";
}

.checkmark {
    color: #2e7d32;
    font-weight: bold;
}

.x-mark {
    color: #c62828;
    font-weight: bold;
}

.free-v-paid {
    text-align:center;
}

#alignment-container {
    width: 100%;
}

#fees-container {
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,.35);;
    border-radius: 30px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1.5%;

}

.price-card {
    border-radius: 30px;
    padding: 1%;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,.35);

}

.price-card table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Noto Sans";
}

.price-card th {
    padding: 14px 12px;
    border-bottom: 1px solid #afafaf;
}


.price-card td {
    padding: 14px 12px;
    
}

.price-card th {
    text-align: left;
}


#upgrade-note-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#upgrade-note {
    font-family: "Noto Sans";
    font-size: 20px;
}

#upgrade-note::before {
    
    content: "ⓘ";
    font-size: 22px;
    font-weight: bold;
    color: #d90000;
    margin-left: 0;
    padding-right: 10px;
  
}

#upgrade-btn {
    font-size: 20px;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .35);
    font-family: "Noto Sans";
}

#upgrade-popup {
    width: 70%;
    max-width: 900px;
    background-color: white;
    box-shadow: 5px 4px 8px rgba(0,0,0, .5);
    padding: 1.5%;
    border-radius: 12px;
    margin: 2rem;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;

}

#upgrade-title-container {
    line-height: .6;
}

#upgrade-subtitle {
    font-family: "Noto Sans";
    font-weight: 500;
    text-align: center;
}

.upgrade-card {
    
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,.35);
    max-width: 800px;
    margin: 0 auto 3rem auto
    
}

.upgrade-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5rem;
    margin-bottom: 1.3rem;
}

.upgrade-title {
    margin: 0;
    padding-top: 1.5rem;
    font-size: 1.25rem;
    font-family: "Noto Sans";
}

.price-badge {
    padding-top: 1.5rem;
    font-family: "Noto Sans";
}

.upgrade-points {
    margin: .5rem 0;
    line-height: 1.5;
    font-size: 19px;
    font-family: "Noto Sans";
}

#close-btn-container {
    display: flex;
    justify-content: center;
}

#close-btn {
    width: 70px;
    font-size: 16px;
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .35);
    font-family: "Noto Sans";
}

.service-card {
    
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,.35);

    margin: 0 auto 3rem auto  
}

.service-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5rem;
    margin-bottom: 1.3rem;
}

.service-title {
    margin: 0;
    padding-top: 1.5rem;
    font-size: 1.25rem;
    font-family: "Noto Sans";
}

.service-description {
    margin: .5rem 0;
    line-height: 1.5;
    font-size: 19px;
    font-family: "Noto Sans";
    white-space-collapse: preserve-breaks;
}

.services-note-container {
    padding-top: 1%;
    text-align: right;
    
}

.service-blurb {
    font-family: "Noto Sans";
    font-size: 18px;
    line-height: .7;
}

#region-container {
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: .7;
}

#datacenter-head {
    font-family: "Roto Serif";
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 1%;
}

#region-button-container {
    display: flex;
    justify-content: center; 
    gap: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .35);
    border-radius: 12px;
    width: 52%
}

.region-button {
    font-size: 30px;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 5%;
    padding-right: 5%;
    border: none;
    background-color: white;
    font-family: "Noto Sans";
    border-radius: 12px;
    flex-shrink: 0;
}

#server-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    width:fit-content;
    margin-bottom: 5%;
    gap: 2rem;
    border-radius: 20px; 
}

.datacenter-card {
    width: 300px;
    min-height: 450px;
    
    border-radius: 40px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 6px rgba(0,0,0,.35);
}

.datacenter-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Roto Serif";
}

.world-list{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: "Noto Sans";
}

.world-name {
    margin: 0;
    padding: 6px;
}
.world-name::before {
    content: "♦";
    font-size: 35px;
    font-weight: bold;
    color: #4CAF50;
    margin-left: 0;
    padding-right: 10px;
  
}

@media (max-width:900px){

    #vs-container,
    #fees-container{
        width:95%;
        box-sizing:border-box;
    }

    .comparison-header,
    .comparison-row{
        grid-template-columns:1.5fr 1fr 1fr;
        font-size:16px;
    }

    .price-card{
        overflow-x:auto;
    }

    table{
        min-width:650px;
    }

    #upgrade-popup{
        width:95%;
        margin:1rem;
    }

}