/*TODO: Change flex box to grid?*/

#header {
    display: flex;
    justify-content: right;
    align-items: right;
    align-content: right;
    border: 2px solid;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 5px;
}

#button-container {
    display: flex;
    justify-content: right;
    align-items: right;
    align-content: right;
}

.header-button {
    margin: 2px;
    font-size: 16px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 16px;
}

.footer-button {
    margin: 2px;
    font-size: 16px;
}

#copyright-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 5px;
    font-size: 16px;
}