/*TODO: Change flex box to grid?*/

#header {
    display: flex;
    justify-content: right;
    align-items: right;
    align-content: right;
    box-shadow: 0 2px 6px rgba(0,0,0, .35);
    border-radius: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 5px;
}

#button-container {
    display: flex;
    justify-content: right;
    align-items: right;
    align-content: right;
    gap: .5rem;
}

.header-button {
    margin: 2px;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .35);
    font-family: "Noto Sans";
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0 2px 6px rgba(0,0,0, .35);
    border-radius: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 16px;
}

#copyright-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 5px;
    font-size: 16px;
}