/*TODO: Change flex box to grid.*/
body {
    font-size: 22px;
}

#about-page {
    
    border-color: goldenrod;

}

#about-container{
    
    border-color: blueviolet;
    display: grid;
    grid-template-rows: .2fr 1fr .2fr .5fr .1fr 1.7fr .5fr .3fr .07fr 2.4fr .5fr 4fr .2fr;
}
#about-gap1 {
    grid-row-start: 1;
    border-color: aqua;
}

#about-logo-container {
    grid-row-start: 2;
    
    border-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#about-gap2 {
    grid-row-start: 3;
    border-color: aqua;
}


#title-container {
    grid-row-start: 4;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    
    border-color: brown;

}

.title {
    font-family: 'Noto Serif';
    font-size: 28px;
    font-weight: bold;
}

#about-gap3 {
    grid-row-start: 5;
    
    border-color: aqua;
}

#text-container {
    grid-row-start: 6;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    border: none;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .35);
    padding: 1rem;
}

#text {
    font-size: 25px;
}

#about-gap4 {
    grid-row-start: 7;
    
    border-color: aqua;
}

#comment-title-container {
    grid-row-start: 8;
    display: flex;
    align-content: center;
    align-items:end;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    border-color: brown;
}

#about-gap5 {
    grid-row-start: 9;
    
    border-color: aqua;
}

#form-container {
    grid-row-start: 10;
    display:flex;
    justify-content:center;
    
    border-color: brown;
    flex-wrap: nowrap;

}

.form {

    width:60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    height: fit-content
}

#id-form-container {
    display: flex;
    height: 3rem;
}

#name {
    margin: 2px;
    width:50%;
    font-size: 24px;
    font-family: "Noto Sans";
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .35);
    padding: 1rem;
    margin-right: 20px;

}

#email {
    margin: 2px;
    width: 50%;
    font-size: 24px;
    font-family: "Noto Sans";
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .35);
    padding: 1rem;
    margin-left: 20px;
}

#form-gap1 {
    
    border-color: aqua;
    height: 1rem;
}

#message {
    height: 50%;
    font-size: 24px;
    font-family: "Noto Sans";
    border-radius: 30px;
    padding: 2rem;
    border :none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .35);
    resize: none;
}

#form-gap2 {
    
    border-color: aqua;
    height: 1rem;
}

#submit {
    display: flex;
    align-items: right;
    align-content:right;
    justify-content: right;
    margin: 5px;
    height: 10%;
}

#submit-button {
    width: 12%;
    font-size: 24px;
    border-radius: 6px;
    font-family: "Noto Sans";
    background-color: white;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .35);
}

#about-gap6 {
    grid-row-start: 11;
    
    border-color: aqua;
}

#comment-container {
    grid-row-start: 12;
    
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    align-items: center;

}

.comment-card {
    background: white;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,.35);
    font-family: "Noto Sans";
}

.comment-card h4 {
    margin: 0;
    margin-bottom: 1rem;
}

.comment-card small {
    display: block;
    margin-bottom: .75rem;
    color: #666;
    font-style: italic;
    line-height: 0;
    padding-bottom: 2rem;
    padding-top: .5rem;
}

.comment-card p {
    margin: 0;
}

#comment-title {
    font-size: 28px;
}

#comments-list {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding-top: 2rem;
    
}

#about-gap7 {
    grid-row-start: 13;
    
    border-color: aqua;
}