.gallery-row {
    display: flex;
    gap: 15px;
    transition: transform 0.4s ease;
}

.gallery-row img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .35);
}

.gallery-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.gallery-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 50%;
    background: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-btn:disabled {
    opacity: 0.35;
    cursor: default;
}

.gallery-btn:hover {
    transform: scale(1.1);
}

.gallery-window {
  
    max-width: 1575px;
    margin: 0 auto;
    overflow: hidden;
}

.lightbox-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.lightbox{
    position: relative;
}

.lightbox img {
    max-width: 75vw;
    max-height: 75vh;
    border-radius: 12px;
}

.lightbox-close {
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 2rem;
    border: none;
    background: none;
    color:white;
    cursor: pointer;
}


.lightbox-arrow-left,
.lightbox-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
}

.lightbox-arrow-left {
    left: -70px;
}

.lightbox-arrow-right {
    right: -70px;
}

@media (max-width: 1600px) {

    .gallery-window{
        max-width:1310px;
    }

}

@media (max-width: 1350px) {

    .gallery-window{
        max-width:1045px;
    }

}

@media (max-width: 1080px) {

    .gallery-window{
        max-width:780px;
    }

}

@media (max-width: 820px) {

    .gallery-window{
        max-width:515px;
    }

}

@media (max-width: 560px) {

    .gallery-window{
        max-width:250px;
    }

}